<%= "Showing #{articles.count} results" %>
<br>
<% articles.each do |article| %>
  <br>
  <div>
    <%= "Title: #{article.title} - Author: #{article.author} " %>
    <%= link_to("Show this article", article) %>
  </div>
<% end %>
